<link rel="stylesheet" type="text/css" href="static/css/login.css">
<div>
	<h2>Dashboard</h2>
	<p><a href="/#/user/{{currUser._id}}">{{currUser.name}}</a> <a href="/logout">logout</a></p>
	<p>Search: <input type="text" ng-model="searchText"></p>
	<table>
		<tr>
			<th>Category</th>
			<th>Topic</th>
			<th>Username</th>
			<th>Posts</th>
		</tr>
		<tr ng-repeat='topic in topics | filter: searchText'>
			<td>{{topic.category}}</td>
			<td><a href="/#/topic/{{topic._id}}">{{topic.title}}</a></td>
			<td><a href="/#/user/{{topic.user_id._id}}">{{topic.user_id.name}}</a></td>
			<td>{{topic.posts.length}}</td>
		</tr>
	</table>
	<br>
	<div id="newTopic">
		<h4>Add a new Topic</h4>
		<form ng-submit='createTopic()'>
			<p>Topic: <input type="text" ng-model='topic.title'></p>
			<p>Description: <textarea ng-model='topic.description'></textarea></p>
			<select ng-model='topic.category'>
				<option>Web Development</option>
				<option>UX</option>
				<option>MySQL</option>
				<option>Ruby On Rails</option>
				<option>JavaScript</option>
				<option>Python</option>
			</select>
			<input type="submit" value="Submit">
		</form>
	</div>
</div>